* {
  box-sizing: border-box;
}

html {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
    'Helvetica Neue', sans-serif;
}

body {
  background: #151925;
  color: white;
}

#main-header {
  max-width: 40rem;
  margin: 2rem auto 4rem auto;
  display: flex;
  align-items: center;
  gap: 2rem;
  color: #c1d9fa;
}

#main-header img {
  width: 5rem;
  height: 5rem;
  object-fit: contain;
  border-radius: 50%;
}

#main-header h1,
#main-header p {
  margin: 0;
}

main {
  max-width: 40rem;
  margin: 2rem auto;
}

.accordion {
  margin: 2rem 0;
  border: 1px solid #5d6273;
  border-radius: 6px;
  overflow: hidden;
  list-style: none;
  margin: 0;
  padding: 0;
}

.accordion-item {
  background-color: #1e2130;
}

.accordion-item-title {
  margin: 0;
  padding: 1rem;
  background-color: #363e57;
  cursor: pointer;
  font-size: 1.15rem;
  color: #c1d9fa;
}

.accordion-item-content {
  padding: 1rem;
  background-color: #2c344a;
}

.close {
  display: none;
}

.open {
  display: block;
}

.searchable-list {
  margin: 2rem 0;
}

.searchable-list input {
  width: 100%;
  padding: 0.75rem;
  border: 1px solid #5d6273;
  border-radius: 6px;
  background-color: #1e2130;
  color: white;
  font: inherit;
}

.searchable-list ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.place {
  display: flex;
  gap: 1rem;
  margin: 1.5rem 0;
}

.place img {
  width: 5rem;
  height: 5rem;
  border-radius: 6px;
  object-fit: cover;
}

.place h2 {
  margin: 0;
  font-size: 1.5rem;
  color: #faf489;
}

.place p {
  margin: 0.5rem 0;
  color: #b3b5c6;
}

#travel-demo button {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 6px;
  background-color: #1e2130;
  color: white;
  font: inherit;
  cursor: pointer;
}

#travel-demo button:hover,
#travel-demo button:active {
  background-color: #363e57;
}
